<article class="create-funko-page">
    <!-- Banner -->
    <section class="banner">
        <div class="banner-content">
            <!-- Titulo -->
            <h1 class="title">{{ bannerData.title }}</h1>
            <!-- list, instrucciones -->
            <ul class="instructions reset-margins">
                <li *ngFor="let instruction of bannerData.instructions">
                    {{ instruction }}
                </li>
            </ul>
            <!-- botones -->
            <div class="banner-buttons">
                <button *ngFor="let button of bannerData.buttons" class="btn" [routerLink]="button.ruta"
                    [ngClass]="{'btn-primary': button.text.includes('Crear'), 'btn-secondary': !button.text.includes('Crear')}">
                    {{ button.text }}
                </button>
            </div>
        </div>
        <!-- Banner Imagen -->
        <figure class="banner-image">
            <img src="/resources/home/CreateFunko.png" alt="Funko Banner" />
        </figure>
    </section>



    <!-- Carrusel de proyectos -->
    <section class="carousel" id="trabajos">
        <!-- Titulo -->
        <h2>Trabajos</h2>

        <!-- Contenedor del Carrusel -->
        <div class="carousel-container">
            <div class="fader left"></div> <!-- Fader izquierdo -->
            <div class="fader right"></div> <!-- Fader derecho -->

            <div class="carousel-wrapper">
                <div class="card" *ngFor="let trabajo of trabajos; let i = index"
                    [ngStyle]="{ 'background-color': trabajo.imageUrl ? 'transparent' : '#ccc' }">
                    <div class="card-title">{{ trabajo.title }}</div> <!-- Título del trabajo -->
                    <img *ngIf="trabajo.imageUrl" [src]="trabajo.imageUrl" alt="Trabajo" />
                    <span *ngIf="!trabajo.imageUrl">Imagen</span>
                </div>
                <div class="card" *ngFor="let trabajo of trabajos"
                    [ngStyle]="{ 'background-color': trabajo.imageUrl ? 'transparent' : '#ccc' }">
                    <div class="card-title">{{ trabajo.title }}</div> <!-- Título del trabajo -->
                    <img *ngIf="trabajo.imageUrl" [src]="trabajo.imageUrl" alt="Trabajo" />
                    <span *ngIf="!trabajo.imageUrl">Imagen</span>
                </div>
            </div>

        </div>
    </section>



    <!-- Selección de tipo de Funko -->
    <section class="select-funko" id="crear">
        <!-- Titulo -->
        <h2>Crear Funko</h2>
        <!-- Opciones -->
        <div class="options">
            <div class="option" *ngFor="let type of funkoOptions">
                <img [src]="type.img" [alt]="type.name" />
                <p>{{ type.name }}</p>
            </div>
        </div>
        <!-- botones -->
        <button class="btn btn-continue" [routerLink]="continueButton.ruta">
            {{ continueButton.text }}
        </button>
    </section>
</article>