<section class="contact-us-container">
  <!-- Lado izquierdo: Formulario -->
  <section class="contact-form">
    <h2>Contáctanos</h2>

    <form [formGroup]="contactForm" (ngSubmit)="enviarFormulario()">
      <!-- Campo Nombre -->
      <div class="formCampo">
        <label class="formLabel" for="name">Nombre:<span class="requerido">*</span></label>
        <input class="formInput" type="text" id="name" formControlName="name" placeholder="Escribe tu nombre(s)"
          [ngClass]="{'error': nombreControl?.invalid && (nombreControl?.dirty || nombreControl?.touched)}" />
        <div *ngIf="nombreControl?.invalid && (nombreControl?.dirty || nombreControl?.touched)" class="errorMensaje">
          <span *ngIf="nombreControl?.errors?.['required']">El nombre es requerido.</span>
          <span *ngIf="nombreControl?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</span>
        </div>
      </div>

      <!-- Campo Correo -->
      <div class="formCampo">
        <label class="formLabel" for="email">Correo:<span class="requerido">*</span></label>
        <input class="formInput" type="email" id="email" formControlName="email"
          placeholder="Escribe tu correo electronico"
          [ngClass]="{'error': correoControl?.invalid && (correoControl?.dirty || correoControl?.touched)}" />
        <div *ngIf="correoControl?.invalid && (correoControl?.dirty || correoControl?.touched)" class="errorMensaje">
          <span *ngIf="correoControl?.errors?.['required']">El correo es requerido.</span>
          <span *ngIf="correoControl?.errors?.['email']">El formato del correo no es válido.</span>
        </div>
      </div>

      <!-- Campo Archivo -->
      <div class="formCampo archivo">
        <label class="formLabel" for="file">Subir archivo:</label>
        <div class="archivo-contenedor">
          <input class="formInput" type="file" id="file" (change)="validarArchivo($event)" />
          <button class="icono-basura" *ngIf="contactForm.get('file')?.value" type="button" (click)="limpiarArchivo()">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
        <div *ngIf="errorArchivo" class="errorMensaje">{{ errorArchivo }}</div>
      </div>

      <!-- Campo Mensaje -->
      <div class="formCampo">
        <label class="formLabel" for="message">Mensaje:</label>
        <textarea class="formInput" id="message" rows="4" formControlName="message"
          placeholder="Cuentanos..."></textarea>
      </div>

      <!-- Botón Enviar -->
      <button class="formBoton" type="submit" [disabled]="contactForm.invalid">Enviar</button>
    </form>
  </section>

  <!-- Lado derecho: Imagen y contacto alternativo -->
  <section class="contact-info">
    <img src="/resources/mythbots_logo.png" alt="Compañía" class="company-image" />
    <div class="additional-contact">
      <p>O también puedes contactarnos de la siguiente manera:</p>
      <section class="contact-container">
        <div class="dynamic-contact" *ngFor="let contact of contacts">
          <a [href]="contact.link" target="_blank" class="contact-btn">
            <div class="icon">
              <i [class]="contact.icon"></i>
            </div>
            <div class="text"> {{contact.text}}</div>
          </a>
        </div>
      </section>
    </div>
  </section>
</section>