<section class="pcb-basic">
    <!-- Fila 1 (Fondo Blanco) -->
    <div class="pcb-basic-fila fila-blanca">
        <div class="texto">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliquassssssssssssssssssssssssssssaliquassssssssssssssssssssssssssss.</span>
        </div>
        <div class="seleccionable">
            <div class="checkbox-wrapper">
                <label>
                    <input type="checkbox" class="pcb-basic-checkbox" aria-label="Seleccionar paquete básico 1" />
                    <span class="checkbox"></span>
                </label>
            </div>
        </div>
        <div class="campo">
            <input type="text" class="pcb-basic-input" placeholder="Valor" />
        </div>
    </div>

    <!-- Fila 2 (Fondo Gris) -->
    <div class="pcb-basic-fila fila-gris">
        <div class="texto">
            <span>Texto descriptivo del servicio básico 2</span>
        </div>
        <div class="seleccionable">
            <div class="checkbox-wrapper">
                <label>
                    <input type="checkbox" class="pcb-basic-checkbox" aria-label="Seleccionar paquete básico 1" />
                    <span class="checkbox"></span>
                </label>
            </div>
        </div>
        <div class="campo">
            <input type="text" class="pcb-basic-input" placeholder="Valor" />
        </div>
    </div>

    <!-- Fila 3 (Fondo Blanco) -->
    <div class="pcb-basic-fila fila-blanca">
        <div class="texto">
            <span>Texto descriptivo del servicio básico 3</span>
        </div>
        <div class="seleccionable">
            <div class="checkbox-wrapper">
                <label>
                    <input type="checkbox" class="pcb-basic-checkbox" aria-label="Seleccionar paquete básico 1" />
                    <span class="checkbox"></span>
                </label>
            </div>
        </div>
        <div class="campo">
            <input type="text" class="pcb-basic-input" placeholder="Valor" />
        </div>
    </div>

    <!-- Fila 4 (Fondo Gris) -->
    <div class="pcb-basic-fila fila-gris">
        <div class="texto">
            <span>Texto </span>
        </div>
        <div class="seleccionable">
            <div class="checkbox-wrapper">
                <label>
                    <input type="checkbox" class="pcb-basic-checkbox" aria-label="Seleccionar paquete básico 1" />
                    <span class="checkbox"></span>
                </label>
            </div>
        </div>
        <div class="campo">
            <input type="text" class="pcb-basic-input" placeholder="Valor" />
        </div>
    </div>
</section>