@import '../../../../../_variables.scss';

.pcb-basic {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;

    &-fila {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        gap: 16px;
        box-sizing: border-box;
        justify-content: space-between;

        &.fila-blanca {
            background-color: $color-white;
        }

        &.fila-gris {
            background-color: $color-gray-2;
        }

        // Contenedor del texto
        .texto {
            flex: 0 0 60%;
            font-size: 16px;
            color: $color-gray-7;
            text-align: start;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;
        }

        // Variables de tamaño, checkbox
        $checkbox-size: 18px;
        $checkbox-inner-size: 8px; // tamaño de la animación
        $checkbox-border-width: 2px; // borde

        .seleccionable {
            .checkbox-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                label {
                    width: $checkbox-size;
                    height: $checkbox-size;
                    cursor: pointer;
                }

                input[type="checkbox"] {
                    visibility: hidden;
                    display: none;
                }

                // Animación y estilo cuando está marcado
                input[type="checkbox"]:checked~.checkbox {
                    transform: rotate(45deg);
                    width: $checkbox-inner-size;
                    margin-left: calc($checkbox-size / 5);
                    border-color: $color-primary;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-radius: 0;
                }

                // Checkbox visual (span) estilo reducido y transición
                .checkbox {
                    display: block;
                    width: $checkbox-size;
                    height: $checkbox-size;
                    border: $checkbox-border-width solid $color-gray-7;
                    border-radius: 4px;
                    transition: all 0.375s;
                }
            }
        }


        // Contenedor del input
        .campo {
            flex: 0 0 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            .pcb-basic-input {
                width: 80%;
                padding: 6px;
                font-size: 16px;
                border: 1px solid $color-gray-4;
                border-radius: 4px;
                color: $color-gray-7;
                box-sizing: border-box;
                text-align: end;

                &:focus {
                    outline: none;
                    border-color: $color-primary;
                    box-shadow: 0 0 4px rgba(66, 0, 107, 0.3);
                }
            }

            .unidad {
                font-size: 16px;
                color: $color-gray-7;
                padding-left: 6px;
                display: flex;
                align-items: center;
            }
        }
    }

    // Media queries para pantallas (tablet)
    @media (max-width: $breakpoint-tablet) {
        .pcb-basic {
            flex-direction: column; // Mantener la dirección en columna
            gap: 20px;
        }

        .pcb-basic-fila {
            flex-direction: column; // Los elementos estarán en columna
            align-items: flex-start; // Alineación inicial
        }

        .texto {
            flex: 0 0 100%; // El texto ocupará todo el ancho disponible
        }

        .seleccionable {
            display: flex;
            justify-content: center; // El checkbox se coloca en el centro
            align-items: center;
            width: 100%; // Asegura que ocupe todo el ancho disponible
        }

        .campo {
            flex: 0 0 100%; // El input ocupará todo el ancho disponible
            order: 2; // El input se coloca después del checkbox
            display: flex;
            justify-content: flex-end; // El input se alinea a la derecha
        }

        .unidad {
            order: 3; // La unidad se coloca después del input
            margin-top: 5px;
        }
    }

    // Media query para móviles
    @media (max-width: $breakpoint-mobile) {
        .pcb-basic {
            gap: 15px; // Reduce el espacio entre los elementos
        }

        .pcb-basic-fila {
            gap: 12px; // Reduce el espacio entre las filas
        }

        .campo {
            flex: 0 0 100%; // El input sigue ocupando todo el ancho
            order: 1; // El input se mantiene arriba
            display: flex;
            justify-content: flex-end; // El input se alinea a la derecha
        }

        .seleccionable {
            display: flex;
            justify-content: center; // El checkbox se coloca en el centro
            align-items: center;
            width: 100%; // Asegura que ocupe todo el ancho disponible
        }

        .texto {
            font-size: 14px; // Reducir tamaño de fuente en móviles
            order: 2; // El texto se mantiene arriba
        }

        .pcb-basic-input {
            font-size: 14px; // Reducir tamaño de la fuente del input
            padding: 5px; // Reducir el tamaño del padding
        }

        .unidad {
            font-size: 14px; // Reducir tamaño de la unidad en móviles
        }
    }
}