<div class="container">
    <div class="login-container">
        <div class="login-form">
        <h1>Login</h1>
            <form [formGroup]="loginForm" (submit)="login()">
                <div class="input-group">
                    <input class="login-input" type="text" name="username" formControlName="username" placeholder="Username">
                </div>
                <div class="input-group">
                    <input class="login-input" type="text" name="password" formControlName="password" placeholder="Password">
                </div>
                <div>
                    <button class="send-button">Login</button>
                </div>
            </form>
            <p class="login-text">Don't have an account? <a [routerLink]="['/register']" style="color: black">Sign up</a></p>
        </div>
    </div>
    <div>
        <h2 class="login-title">Welcome Back!<br></h2>
        <p class="description">A place where you can explore your creativity and imagination</p>
    </div>    
</div>