<article class="create-funko-page">
    <!-- Banner -->
    <section class="banner">
        <div class="banner-content">
            <h1 class="title">Crea el tuyo!</h1>
            <ul class="instructions reset-margins">
                <li>Selecciona el tipo de funko que deseas crear.</li>
                <li>Personaliza los detalles de tu funko.</li>
                <li>Confirma y añade al carrito.</li>
            </ul>
            <div class="banner-buttons">
                <button class="btn btn-secondary" routerLink="/create-funko#trabajos">Ver trabajos</button>
                <button class="btn btn-primary" routerLink="/create-funko#crear">Crear Funko</button>
            </div>
        </div>
        <figure class="banner-image">
            <img src="/resources/home/CreateFunko.png" alt="Funko Banner" />
        </figure>
    </section>

    <!-- Carrusel de proyectos -->
    <section class="carousel" id="trabajos">
        <h2>Trabajos</h2>
        <div class="carousel-container">
            <div class="card">Imagen</div>
            <div class="card">Imagen</div>
            <div class="card">Imagen</div>
            <div class="card">Imagen</div>
            <div class="card">Imagen</div>
            <div class="card">Imagen</div>
            <div class="card">Imagen</div>
            <div class="card">Imagen</div>
        </div>
    </section>

    <!-- Selección de tipo de Funko -->
    <section class="select-funko" id="crear">
        <h2>Crear Funko</h2>
        <div class="options">
            <div class="option" id="individual">
                <img src="/resources/home/individual.png" alt="Individual Funko" />
                <p>Individual</p>
            </div>
            <div class="option" id="en-pareja">
                <img src="/resources/home/pareja.png" alt="Funko en Pareja" />
                <p>En Pareja</p>
            </div>
        </div>
        <button class="btn btn-continue" routerLink="/customize">Continuar</button>
    </section>