<article class="card-cuenta reset-margins">
    <!-- Sección de usuario con avatar y nombre -->
    <section class="username">
        <!-- Avatar del usuario -->
        <figure class="perfil" [style.background-image]="'url(' + usuario.fotoPerfil + ')'"></figure>
        <!-- Nombre del usuario -->
        <p class="username-text">{{ usuario.nombre }}</p>
    </section>

    <!-- Separador visual -->
    <div class="separator" *ngIf="isAdmin"></div>

    <!-- Opcion Admin -->
    <ul class="list" *ngIf="isAdmin">
        <li class="element">
            <i [class]="admin.icono"></i>
            <p class="label">{{ admin.texto }}</p>
        </li>
    </ul>

    <!-- Separador visual -->
    <div class="separator"></div>

    <!-- Lista de acciones -->
    <ul class="list">
        <li class="element" *ngFor="let opcion of opciones">
            <!-- Ícono -->
            <i [class]="opcion.icono"></i>
            <!-- Texto -->
            <p class="label">{{ opcion.texto }}</p>
        </li>
    </ul>

    <div class="separator"></div>

    <!-- Opción de cerrar sesión -->
    <ul class="list">
        <li class="element cerrar-sesion">
            <i [class]="cerrarSesion.icono"></i>
            <p class="label">{{ cerrarSesion.texto }}</p>
        </li>
    </ul>
</article>