
<div class="base-plantilla">
    <!-- Seccion dinamica -->
    <section
        *ngFor="let seccion of secciones; let i = index"
        [ngClass]="{'impar': i % 2 === 0, 'par': i % 2 !== 0 }"
        class="seccion">

        <!-- Template para seccion impar -->
        <article class=" impar-content" *ngIf="i % 2 === 0; else parContent">
            <!-- Lado izq: Texto (Seccion Impar)-->
            <header class="impar-text">
                <!-- Titulo -->
                <h1 class="titulo">{{ seccion.titulo }}</h1>
                <!-- Descripcion -->
                <p class="descripcion"> {{ seccion.descripcion }}</p>
                <!-- Boton -->
                <button class="boton learn-more boton-naranja" [routerLink]="seccion.botonRuta">
                    <span class="circulo">
                        <span class="icono flecha"></span>
                    </span>
                    <span class="texto-boton"> {{ seccion.botonTexto }}</span>
                </button>
            </header>
            <!-- Lado Der: Imagen (Seccion Impar) -->
            <figure class="impar-imagen">
                <img [src]="seccion.imagen" [alt]="seccion.titulo" onerror="this.style.background='#e0e0e0'; this.src='';"/>
            </figure>
        </article>

        <!-- Template para seccion Par -->
        <ng-template #parContent>
            <article class="par-content">
                <!-- Lado Izq: Imagen (Seccion Par) -->
                <figure class="par-imagen">
                    <img [src]="seccion.imagen" [alt]="seccion.titulo" onerror="this.style.background='#e0e0e0'; this.src='';">
                </figure>
                <header class="par-text">
                    <!-- Titulo -->
                    <h1 class="titulo">{{ seccion.titulo }}</h1>
                    <!-- descripcion -->
                    <p class="descripcion"> {{seccion.descripcion}} </p>
                    <!-- boton -->
                    <button class="boton learn-more boton-morado" [routerLink]="seccion.botonRuta">
                        <span class="circulo">
                            <span class="icono flecha"></span>
                        </span>
                        <span class="texto-boton"> {{ seccion.botonTexto }}</span>
                    </button>
                </header>
            </article>
        </ng-template>
    </section>
</div>