<section>
    <app-modal-soporte>
    </app-modal-soporte>
</section>

<section class="chat-container">
    <header class="chat-header">
        <h1>Soporte para {{ area }}</h1>
    </header>
    <main class="chat-messages">
        <!-- Mensajes enviados -->
        <div class="message sent">
            Hola, ¿en qué puedo ayudarte?
        </div>
        <!-- Mensajes recibidos -->
        <div class="message received">
            Tengo una consulta sobre mi pedido.
        </div>
    </main>
    <footer class="chat-footer">
        <input type="text" class="chat-input" placeholder="Escribe un mensaje..." />
        <button class="send-button">Enviar</button>
    </footer>
</section>