<nav class="navbar">
    <div class="navbar-frame">
        <!-- Logo de la empresa -->
        <div class="navbar-logo"></div>
        <!-- Linea -->
        <div class="navbar-separator"></div>

        <!-- Contenido-->
        <div class="navbar-frame__menu">
            <div class="navbar-item" *ngFor="let item of menuItems">
                <span class="navbar-item__text">{{ item }}</span>
            </div>
        </div>

        <!-- Buscador  -->
        <!--<div class="navbar-search">
            <input type="text" placeholder="Buscar..." />
        </div>-->

        <!-- Icono de cuenta de usuario -->
        <div class="navbar-account"></div>
    </div>
</nav>