<nav class="navbar">
    <div class="navbar-frame">
        <div class="navbar-logo"></div> <!-- Logo de la empresa -->
        <div class="navbar-separator"></div>

        <div class="navbar-frame__menu">
            <div class="navbar-item" *ngFor="let item of menuItems">
                <span class="navbar-item__text">{{ item }}</span>
            </div>
        </div>

        <!--<div class="navbar-search">
            <input type="text" placeholder="Buscar..." />
        </div>-->

        <div class="navbar-account"></div> <!-- Icono de cuenta de usuario -->
    </div>
</nav>