<article class="pcbDesign">
    <!-- Banner -->
    <header class="banner">
        <div class="bannerContenido">
            <h1 class="bannerTitulo">{{ banner.titulo }}</h1>
            <p class="bannerDescripcion">{{ banner.descripcion }}</p>
        </div>
        <figure class="bannerImagen">
            <img [src]="banner.imagenUrl" alt="Imagen de banner de diseño de PCB" />
        </figure>
    </header>

    <!-- Contenedor Seleccionar Paquete -->
    <section class="seleccionPaquete">
        <h2 class="seleccionPaqueteTitulo">Selecciona tu paquete</h2>
        <div class="opcionesPaquete">
            <div
                *ngFor="let paquete of paquetes"
                class="opcionPaquete"
                [ngClass]="{ 'seleccionado': paqueteSeleccionado === paquete.id }"
                (click)="seleccionarPaquete(paquete.id)"
                [attr.data-paquete]="paquete.id"
            >
                {{ paquete.titulo }}
            </div>
        </div>
        <!-- Contenido del paquete -->
        <section *ngIf="paqueteSeleccionado === 'basico' ">
            <app-pcb-basic></app-pcb-basic>
        </section>
        <section *ngIf="paqueteSeleccionado === 'personalizado' ">
            <app-pcb-customize></app-pcb-customize>
        </section>
    </section>

    <!-- Formulario de Cotización -->
    <section class="cotizar">
        <h2 class="cotizarTitulo">Cotizar precio</h2>
        <p class="cotizarParrafo">Por favor introduce los siguientes datos:</p>

        <form class="formulario" (ngSubmit)="enviarFormulario()">
            <!-- Campos del formulario (Nombre, Apellido, Email, Telefono) en pares -->
            <div class="formNombreApellido" *ngFor="let i of [0, 2]">
                <div class="formCampo" *ngFor="let campo of camposFormulario.slice(i, i + 2)">
                    <label [for]="campo.id" class="formLabel">
                        {{ campo.titulo }}
                        <span *ngIf="campo.requerido" class="requerido">*</span>
                    </label>
                    <input [type]="campo.type" [id]="campo.id" class="formInput" [name]="campo.id"
                        [placeholder]="campo.placeholder" [required]="campo.requerido" />
                </div>
            </div>

            <!-- Campos para Subir Archivos -->
            <div *ngFor="let archivo of archivos; let i = index" class="formCampo">
                <label for="{{ archivo.id }}" class="formLabel">Subir archivo</label>
                <div class="inputArchivo">
                    <input type="file" [id]="archivo.id" class="formInput archivo" [name]="archivo.id">
                    <span class="iconEliminar" (click)="deleteArchivo(i)">
                        <i class="fa-solid fa-trash-can"></i>
                    </span>
                </div>
            </div>
            <button type="button" class="formBotonSecundario" (click)="addArchivo()">
                <i class="fa-regular fa-square-plus"></i>
            </button>

            <!-- Campo Descripción -->
            <div class="formCampo">
                <label for="descripcion" class="formLabel">Descripción</label>
                <textarea id="descripcion" class="formInput" name="descripcion" rows="4"
                    placeholder="Cuéntanos un poco más sobre tu proyecto" required></textarea>
            </div>

            <!-- Botón de Envío -->
            <button type="submit" class="formBoton">Enviar</button>
        </form>
    </section>
</article>